########################
# Entornos / dependencias
########################
.venv/
venv/
env/
ENV/

########################
# Secretos / configuración local
########################
.env
**/.env
*.env

########################
# Python: bytecode y cachés
########################
__pycache__/
*.py[cod]
*.pyd
*.pyo

########################
# Logs / artefactos de runtime
########################
logs/
*.log

########################
# SO/Editor
########################
.DS_Store
Thumbs.db
.vscode/
